@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
/*Colors*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-color: #007ea7;
}

body .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  min-height: 80vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

body .main-container h2 {
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
}

body .main-container button {
  border: none;
  padding: 15px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .main-container button:hover {
  padding: 25px;
  margin: 0;
  background-color: #044257;
  color: #fffffc;
  cursor: pointer;
}

body .main-container #team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .main-container #team-container .pokemon-container {
  height: 362px;
  width: 280px;
  padding: 10px;
  margin: 5px;
  background-color: #fffffc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
}

body .main-container #team-container .pokemon-container .pkm-number-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 1.5rem;
}

body .main-container #team-container .pokemon-container img {
  height: 200px;
}

body .main-container #team-container .pokemon-container.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

body footer {
  text-align: center;
}

.pkm-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pkm-stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5px;
  background-color: blanchedalmond;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);
}

#pkm-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  gap: 15px;
}

#pkm-types .type {
  border-radius: 8px;
  background-color: #fffffc;
  padding: 5px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);
}

#pkm-types .normal {
  background-color: #aaaa99;
}

#pkm-types .fire {
  background-color: #ff4422;
}

#pkm-types .water {
  background-color: #3399ff;
}

#pkm-types .electric {
  background-color: #ffcc33;
}

#pkm-types .grass {
  background-color: #77cc55;
}

#pkm-types .ice {
  background-color: #66ccff;
}

#pkm-types .fighting {
  background-color: #bb5544;
}

#pkm-types .poison {
  background-color: #aa5599;
}

#pkm-types .ground {
  background-color: #ddbb55;
}

#pkm-types .flying {
  background-color: #8899ff;
}

#pkm-types .psychic {
  background-color: #ff5599;
}

#pkm-types .bug {
  background-color: #aabb22;
}

#pkm-types .rock {
  background-color: #bbaa66;
}

#pkm-types .ghost {
  background-color: #6666bb;
}

#pkm-types .dragon {
  background-color: #7766ee;
}

#pkm-types .dark {
  background-color: #775544;
}

#pkm-types .steel {
  background-color: #aaaabb;
}

#pkm-types .fairy {
  background-color: #ee99ee;
}
/*# sourceMappingURL=style.css.map */